* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.side_menu {
    position: relative;
    background-color: rgb(58, 75, 168);
    width: 14rem;
    height: 100vh;
}

.side_menu h1 {
    color: white;
    text-align: center;
    padding: 10px;
}

.link {
    padding: 10px;
}

.link:hover, .link a:hover {
    background-color: white;
    color: black;
}

.link a {
    color: white;
    text-decoration: none;
}

.main_screen {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    overflow-x: hidden;
}

.nevigation_bar {
    width: 100vw;
    height: 50px;
    box-shadow: 0px 0px 10px rgb(139, 139, 139);
}

.search {
    width: 250px;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.search input[type=text] {
    background-color: rgb(235, 235, 235);
    width: 100%;
    border: 0px;
    outline: 0px;
    padding: 5px;
}

.search input[type=button] {
    background-color: rgb(3, 110, 231);
    border: 0px;
    outline: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
    height: 20px;
}

tr:nth-child(odd) {
    background-color: rgb(185, 185, 185);
    height: 20px;
}

tr th {
    background-color: rgb(255, 255, 255);
}

td {
    text-align: center;
}

#table table {
    width: 100%;
    height: 100%;
    background-color: beige;
    border: 1px solid gray;
}

#table {
    position: absolute;
    display: none;
    width: calc(100% - 60px);
    height: calc(100% - 110px);
    padding: 10px;
    background-color: rgb(233, 233, 233);
    margin: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.container2 {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 'smat smat smat smat';
    padding: 20px;
    gap: 20px;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: rgb(35, 91, 196);
    border: 5px solid rgb(196, 35, 35);
}

.container2:nth-child(3) {
    background-color: rgb(196, 108, 35);
    border: 5px solid rgb(35, 124, 196);
    margin-top: 10px;
}

.container2:nth-child(3) .card {
    border-left: 5px solid rgb(35, 124, 196);
}

.card {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    background-color: aliceblue;
    width: 100px;
    height: 200px;
    border-left: 5px solid rgb(192, 7, 7);
}

.card img {
    object-fit: cover;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-size: cover;
    animation: loadingimage 1s ease-in-out 0s reverse;
}

@keyframes loadingimage {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateX(10deg);
    }
}

.card:hover {
    box-shadow: 0px 0px 10px gray;
}
.dashboard {
    position: absolute;
    width: calc(100vw - 100px);
    height: fit-content;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.dashboard p:nth-child(2) {
    color: rgb(2, 112, 2);
    font-size: small;
}

.dashboard p:nth-child(3) {
    color: brown;
}

.dashboard p:nth-child(4) {
    font-size: small;
}

@keyframes loader {
    from {
        display: none;
    }

    to {
        display: flex;
        z-index: 10;
    }
}

.container2::before {
    content: "Sports Material's";
    background-color: rgb(196, 35, 35);
    color: aliceblue;
    justify-self: right;
    grid-area: smat;
}

.container2:nth-child(3)::before {
    content: "Summer Sports";
    background-color: rgb(35, 124, 196);
    color: aliceblue;
    justify-self: right;
    grid-area: smat;
}

#show {
    position: absolute;
    display: none;
    grid-template-columns: 300px;
    width: 260px;
    height: fit-content;
    padding: 10px;
    top: 50px;
    align-self: flex-start;
    background-color: rgb(41, 106, 160);
    margin-left: 12rem;
    flex-direction: column;
}

#show a {
    width: 220px;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
}


li {
    list-style: none;
    width: 300px;
    height: 50px;
    padding: 10px;
}

@media all and (max-width: 768px) {
    .side_menu {
        position: relative;
        background-color: rgb(58, 75, 168);
        width: 6rem;
        height: 100vh;
    }

    .side_menu h1 {
        font-size: xx-small;
        padding: 2px;
    }

    .link {
        padding: 2px;
    }

    .link a {
        font-size: xx-small;
    }

    * {
        font-size: xx-small;
    }

    .card {
        padding: 5px;
        border-radius: 2.5px;
        box-shadow: 0px 0px 5px gray;
        background-color: aliceblue;
        width: 50px;
        height: 100px;
        border-left: 5px solid rgb(7, 109, 192);
    }
    
    .card img {
        object-fit: cover;
        background-image: url('img/loading.gif');
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
    }

    .container2 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas: 'smat';
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 10px 0px 0px 0px;
        height: calc(100% - 100px);
        max-height: 100vh;
    }

    #show {
        position: absolute;
        display: none;
        grid-template-columns: 300px;
        width: 260px;
        height: fit-content;
        padding: 10px;
        top: 50px;
        align-self: flex-start;
        background-color: rgb(41, 106, 160);
        margin-left: 2rem;
    }

    .message {
        display: absolute;
        display: block;
        animation-name: message;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        background: linear-gradient(10deg, red, orange);
        background-size: 1000px 1000px;
        animation-timing-function: ease-in-out;
    }

    @keyframes message {
        0% {
            background-position: 0px 0px;
        }
        50% {
            background-position: 1000px 1000px;
        }
        0% {
            background-position: 0px 0px;
        }
    }

    .message p {
        font-size: x-large;
        padding: 10px;
    }
}
